@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --main-teal: #81d8d0;
  --main-coral: #ff8981;
  --light-gray: #f9f9f9;
  --text-gray: rgb(78, 78, 78);
}

/* ---- Global Styling ---- */


html { 
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  max-width: 1180px;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  font-family: poppins;
  font-size: 50px;
}

h2 {
  font-family: poppins;
  font-size: 35px;
  font-weight: 400;
}

h3 {
  font-family: poppins;
  font-weight: 700;
  font-size: 70px;
  color: var(--main-teal);
  margin-bottom: 75px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-family: poppins;
  font-weight: 700;
  font-size: 25px;
  color: black;
  margin-top: 25px;
  margin-bottom: 50px;
  /* text-align: center; */
}

.offset-top {
  height:80px;
}



/* ---- Hover Descriptions Styling ---- */


.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--main-coral);
  color: #fff;
  font-family: open sans;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--main-coral) transparent transparent transparent;  

  
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}




/* ---- Fixed Hire Me Button Styling ---- */

.hire-me a {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: all 0.2s ease-in-out;
  z-index: 8;
}

.hire-me a:hover {
  transform: scale(1.1);
}

/* ---- Header/Navigation Styling ---- */

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
  z-index: 8;
  position: fixed;
  transition: 0.3s ease-in-out;
}

.right-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.view {
  padding-left: 20px;
  font-size: 20px;
  padding-top: 6px;
}

#light-mode-switch {
  font-size: 25px;
}

.logo svg {
  fill: black;
  transition: 0.3s ease-in-out;
  margin-left: 25px;
}

.logo svg:hover {
  color: var(--main-coral);
  fill: var(--main-coral);
  cursor: pointer;
}

nav {
  font-family: poppins;
  font-size: 18px;
  color: #777777;
  font-weight: 500;
}

nav a,
nav a:active,
nav a:visited {
  font-family: poppins;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin-right: 20px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav a:hover {
  color: #81d8d0;
}

header.active {
  /* background:#ffffff; */
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 1px 1px #dbdbdb;
  -moz-box-shadow: 0px 1px 1px #dbdbdb;
  box-shadow: 0px 5px 20px -5px #eeeeee;
}

nav a.active {
  color: #fbfbfb;
}

/* ---- Hero Section Styling ---- */

.hero {
  min-height: 100vh;
  height: 100%;
  background-image: url(../assets/lightgeo.png);
  /* background-color:#999999; */
  background-position: left;
  background-position: bottom;
  /* background-color:#111111; */
}

.hero-content {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  margin-top: 100px;
  /* align-items: space-around; */
}

.intro {
  /* margin-left: 12%;
  margin-right: 12%; */
  /* margin-top:150px; */
}

.hero-button {
  margin-top: 50px;
}

.hero-button a,
.hero-button a:active,
.hero-button a:visited {
  font-family: poppins;
  font-size: 18px;
  color: var(--main-coral);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 10px;
  border: solid 4px var(--main-coral);
  transition: 0.3s ease-in-out;
}

.hero-button a:hover {
  background-color: var(--main-coral);
  color: white;
}

.scrolly {
  font-size: 20px;
  font-family: poppins;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  position: absolute;
  transform: rotate(90deg);
  bottom: 90px;
  margin-right: 20px;
}

/* ----styling for the overlay menu--- */

.menu-btn {
  /* position: absolute; */
  top: 6px;
  right: 20px;
  z-index: 999;
  /* display: inline; */
  font-size: 32px;
}

.menu-btn a {
  /* display: inline-block; */
  text-decoration: none;
  /* safari hack */

  justify-content: center;
  align-items: center;
}

.btn-open:after {
  color: black;
  font-family: "poppins";
  content: "Menu";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition-property: all 0.2s linear 0s;
}

.btn-open:hover:after {
  color: var(--main-teal);
}

.btn-close:after {
  color: #000000;
  font-family: "poppins";
  content: "Close";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition-property: all 0.2s linear 0s;
}

.btn-close:hover:after {
  color: var(--main-coral);
}

.overlay {
  position: fixed;
  /* display:block; */
  top: 0;
  z-index: 99;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: var(--main-teal);
}

/* ---- About Styling ---- */

.about {
  position: relative;
  /* height:100vh; */
  /* background-color:#FBFBFB; */
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.about-content p {
  font-family: open sans;
  /* font-weight: 500; */
  font-size: 18px;
  color: var(--text-gray);
  letter-spacing: .5px;
  line-height: 30px;
  /* width: 295px; */
}

.blurb {
  width: 550px;
  margin-right: 20px;
}
.about-content img {
  max-width: 450px;
  filter: grayscale();
}

/* ---- Skills/Technologies Styling ---- */

.skills {
  position: relative;
}

.skills-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin-top: 100px; */
  margin-bottom: 50px;
}
.skill-card {
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: white;
  /* box-shadow: 0 0 20px rgb(238, 238, 238); */
  /* border-radius: 20px; */
  transition: 2s ease-in;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.skills h1 {
  font-family: poppins;
  font-weight: 700;
  font-size: 25px;
  color: black;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.skill-card p {
  font-family: open sans;
  font-size: 18px;
  color: rgb(95, 95, 95);
  letter-spacing: .5px;
  line-height: 30px;
  width: 295px;
}

.skill-icon {
  color: black;
  /* margin-bottom:0px; */
}

/* #filter-container {
  text-align:center;
}

#filter-container h1 {
  font-family: poppins;
  font-weight: 700;
  font-size: 25px;
  color:var(--main-teal);
  margin-top: 25px;
  margin-bottom: 25px;
  
}


.filter {
  font-family: poppins;
  font-size:20px;
  font-weight:700;
  color:black;
  transition: .3 ease-in-out;
  display:inline;
  margin-left:6px;
  margin-right:6px;
  
}

.filter:hover {
color:var(--main-coral)
}

.filter.active{
color:var(--main-coral);
border-bottom: 3px solid var(--main-coral);
} */

.tech-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
}

.technology {
  padding: 8px 10px;
  margin-right: 18px;
  margin-bottom: 18px;
  border-radius: 8px;
  font-family: open sans;
  font-size: 16px;
  background-color: var(--main-teal);
  color: white;
  transition: 0.3s ease-in-out;
  /* display: none; */
}

.technology:hover {
  background-color: var(--main-coral);
  color: white;
  cursor: default;
}

/* ---- Projects Section Styling ---- */

.project-content {
  margin-bottom: 100px;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 200px;
}

.project-img {
  max-width: 450px;
  filter: grayscale();
  box-shadow: 0 0 20px rgb(221, 221, 221);
  border-radius: 4px;
  z-index: 0;
  position: relative;
  left: 40px;
}

.project-info {
  max-width: 450px;
  text-align: right;
}

.project-info h1 {
  font-family: poppins;
  font-size: 35px;
  font-weight: 700;
  color: var(--main-coral);
  text-align: right;
  position: relative;
  right: 40px;
  margin-bottom: 10px;
  /* text-transform:uppercase; */
}

.desc {
  font-family: open sans;
  color: var(--text-gray);
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 28px;
  padding: 20px 25px;
  margin-top: 15px;
  background-color: white;
  box-shadow: 0 0 20px rgb(230, 230, 230);
  border-radius: 4px;
  z-index: 4;
  position: relative;
  right: 40px;
  text-align: justify;
}

.project-info a {
  font-family: poppins;
  font-size: 16px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 15px;
  position: relative;
  right: 25px;
  transition: 0.3s ease-in-out;
}


.project-info a:hover {
  color: var(--main-teal);
}

.view {
  font-size: 18px;
  padding-left: 5px;
}

.built-with {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: relative;
  right: 40px;
  margin-top: 20px;
}

.tool-icon {
  font-size: 25px;
  color: var(--main-teal);
  margin-left: 10px;
}

.archive-container {
  /* padding: 25px; */
}

.archive-container > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
}

.archive-container > ul > li {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  max-height: 260px;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease-in-out;
}

.archive-container > ul > li:hover {
  transform: translateY(-15px);
  cursor: default;
}

/* .archive-container > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.archive-container > ul > li > a {
  padding: .5rem 1rem;
  margin: .5rem;
} */

/* 

.archive-container {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
  margin-top:50px;
} */

.archive-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 25px;
}

.archive-card h2 {
  font-family: poppins;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--main-teal);
}

.archive-card p {
  font-family: open sans;
  font-size:16;
  letter-spacing:0.5px;
  line-height: 26px;
  margin-bottom: 15px;
  color: var(--text-gray);
  text-align: left;
}

.view-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.archive-card a {
  font-family: poppins;
  font-size: 18px;
  font-weight: 700;
  color: var(--main-coral);
  border: 4px solid var(--main-coral);
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.archive-card a:hover {
  background-color: var(--main-coral);
  color: white;
}

/* ---- Contact Styling ---- */

.contact-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  margin-top:50px;
  margin-bottom:50px;
}

.contact-info {
  justify-content: left;
}

.contact-icon {
  font-size:25px;
  margin-right:10px;
}

h5 {
  font-family: open sans;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height:30px;
  color: var(--text-gray);
  font-weight:400;
  margin-bottom:10px;
}


.contact-socials {
  display:flex;
  justify-content:space-between;
  margin-top:75px;
}

.social {
  font-size:35px;
  color:var(--main-teal);
  transition: .3s ease-in-out;
}

.social:hover {
  color: var(--main-coral);
}
/* ---- Testimonial Styling ---- */

.testimonial-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: open sans;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 26px;
  color: var(--text-gray);
  text-align: center;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0 0 20px rgb(230, 230, 230);
  padding: 30px;
  border-radius: 6px;
}

.quote {
  text-align: left;
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.author-pic img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid var(--main-teal);
  margin-right: 15px;
}

.author-info {
  text-align: left;
}
.author-info h1 {
  font-family: poppins;
  font-size: 20px;

  font-weight: 700;
  color: var(--main-teal);
  text-align: left;
}

.author-info h2 {
  font-family: poppins;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: var(--main-coral);
}

/* ---- Footer Styling ---- */

footer {
  font-family: open sans;
  font-size: 15px;
  color: rgb(184, 184, 184);
  padding: 25px;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* ---- Responsive Styling ---- */

@media only screen and (max-width: 1190px) {
  .tool-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 10px;
    grid-gap: 75px;
    grid-auto-columns: 300px;
  }
}

@media only screen and (max-width: 900px) {
  .about-content {
    flex-direction: column;
    justify-content: center;
  }
  .desc {
    text-align: justify;
    margin-bottom: 50px;
    width: 90%;
  }
  .desc .hero-button {
    text-align: center;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
  }
}

@media only screen and (max-width: 815px) {
  .tool-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding: 10px;
    grid-gap: 75px;
    grid-auto-columns: 300px;
  }
}

@media only screen and (max-width: 680px) {
  .hire-me {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .tool-grid {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    padding: 10px;
    grid-gap: 75px;
    grid-auto-columns: 300px;
  }
}
